.banner-image{
    background-image: url(../images/banner_service-sm.png);
    height: 215px;
}

@include media-breakpoint-up(md) {
    .banner-image {
        background-image: url(../images/banner.png);
        height: 288px;
    }
  }