.opacity-img {
    transition: opacity .9s;
    &:hover{
        .opacity-img{
            opacity: 0;
        }
    }
}
.opacity-link:hover .opacity-img {
    opacity: 0;
}


.dialog-border-bottom {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    height: 65px;
    padding: 10px;
    margin: 10px;
    position: relative;
    &::before{
        position:absolute;
        content:"";
        bottom:-38px;
        left:30%;
        transform:translateX(-50%);
        width: 0;
        height: 0;
        border-width:18px;
        border-style:solid;
        border-top-color: black;
        border-right-color: transparent ;
        border-bottom-color: transparent;
        border-left-color: transparent ;
    };
    &::after{
        position:absolute;
        content:"";
        bottom:-42px;
        left:30%;
        transform:translateX(-50%);
        width: 0;
        height: 0;
        border-width:25px;
        border-style:solid;
        border-top-color: white;
        border-right-color: transparent ;
        border-bottom-color: transparent;
        border-left-color: transparent ;
    }
  }